torch
torchaudio
transformers
bitsandbytes
accelerate
sentencepiece

TTS  # text to speech
faster_whisper  # speech recognition
numpy

sounddevice

cutlet
fugashi[unidic]  # python -m unidic download
langcodes[data]
langdetect
